:root {
  /* Paleta de colores de ColorHunt */
  --color-light-beige: #F8EDE3;
  --color-medium-beige: #DFD3C3;
  --color-dark-beige: #D0B8A8;
  --color-brown: #8D493A;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: var(--color-light-beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-brown);
  text-decoration: inherit;
}
a:hover {
  color: #A05C4D; /* Versión más clara del marrón principal */
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Cambiado de flex a block */
  min-width: 100%; /* Ahora ocupa el 100% del ancho */
  min-height: 100vh;
  background-color: var(--color-light-beige);
  color: #333333;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-brown);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-brown);
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: #A05C4D; /* Versión más clara del marrón principal */
  border-color: var(--color-dark-beige);
}
button:focus,
button:focus-visible {
  outline: 3px solid var(--color-dark-beige);
}

/* Eliminar el cambio de tema oscuro/claro ya que estamos usando una paleta específica */
@media (prefers-color-scheme: light) {
  :root {
    color: #333333;
    background-color: var(--color-light-beige);
  }
  a:hover {
    color: #A05C4D; /* Versión más clara del marrón principal */
  }
  button {
    background-color: var(--color-brown);
    color: white;
  }
}

/* Para mantener la legibilidad en modo oscuro si el usuario lo tiene configurado */
@media (prefers-color-scheme: dark) {
  :root {
    color: #333333;
    background-color: var(--color-light-beige);
  }
  body {
    background-color: var(--color-light-beige);
  }
}
